
@{
    ViewData["Title"] = "DoctorLanding";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>E-Nompilo PHC, it's a home for all</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/ccss/animate.css">

	<link rel="stylesheet" href="~/ccss/owl.carousel.min.css">
	<link rel="stylesheet" href="~/ccss/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/ccss/magnific-popup.css">

	<link rel="stylesheet" href="~/ccss/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/ccss/jquery.timepicker.css">

	<link rel="stylesheet" href="~/ccss/flaticon.css">
	<link rel="stylesheet" href="~/ccss/styles.css">
</head>
<body>
	<div class="wrap">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-3 mb-md-0 mb-4 d-flex align-items-center">
					<a class="navbar-brand" href="index.html">E-Nompilo Hospital</a>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="text"><span>Hello</span><span>@User.Identity.Name</span></div>
						<div class="col-md-8 mb-md-0 mb-3">
							<div class="top-wrap d-flex">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-arrow"></span></div>
								
								<div class="text"><span>Address</span><span>349 Cape Rd, Port Elizabeth, 6055</span></div>
							</div>
						</div>
						<div class="col">
							<div class="top-wrap d-flex">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-phone"></span></div>
								<div class="text"><span>Call us</span><span>(+27) 41 392 3911</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span> Menu
			</button>
			<div class="order-lg-last">
				<a href="#" class="btn btn-primary">Make an appointment</a>
			</div>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
					<li class="nav-item"><a href="team.html" class="nav-link">Team</a></li>
					<li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
					<li class="nav-item"><a href="department.html" class="nav-link">Departments</a></li>
					<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	<div class="hero-wrap">
		<div class="home-slider owl-carousel">
			<div class="slider-item" style="background-image:url(cimages/bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-end">
						<div class="col-md-6 ftco-animate">
							<div class="text w-100">
								<h1 class="mb-4">Welcome to E-Nompilo Hospital</h1>
								<p>Welcome to the PHC Facility! We are delighted to have you here. As a premier healthcare provider, we are committed to delivering exceptional care and services to all our patients. Our dedicated team of healthcare professionals is here to ensure your well-being and provide you with the highest quality of medical treatment. We value your trust and prioritize your comfort and safety throughout your stay. Feel free to reach out to our friendly staff if you have any questions or concerns. Thank you for choosing PHC Facility – where your health is our priority.</p>
								<p><a href="#" class="btn btn-primary">Book an appointment</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item" style="background-image:url(cimages/bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-end">
						<div class="col-md-6 ftco-animate">
							<div class="text w-100">
								<h1 class="mb-4">At E-Nompilo we care for the whole family</h1>
								<p>
									Welcome to our PHC facility!

									We are committed to providing exceptional healthcare services in a safe and comfortable environment. Your well-being is our priority, and our dedicated team of healthcare professionals is here to ensure you receive the best possible care.

									We strongly believe in the power of compassion, innovation, and collaboration. Our state-of-the-art facilities are equipped with cutting-edge technology to deliver effective treatments and therapies for a wide range of medical conditions.

									Whether you're visiting for a routine check-up, seeking specialized care, or undergoing a medical procedure, we strive to make your experience as seamless and stress-free as possible. Our friendly staff is always available to address your concerns and answer any questions you may have.

									At our PHC facility, we embrace the importance of preventive care and promote a holistic approach to wellness. We offer various wellness programs and educational resources to empower you in taking charge of your health.

									Thank you for choosing our PHC facility. We value your trust and are honored to be part of your healthcare journey. Together, let's build a healthier future!

									Sincerely,

									E-Nompilo PHC
								</p>
								<p><a href="#" class="btn btn-primary">Book an appointment</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
		<div class="overlay"></div>
		<div class="container">
			<div class="row d-md-flex justify-content-center">
				<div class="col-md-12">
					<div class="wrap-appointment d-md-flex">
						<div class="col-md-8 bg-primary p-5 heading-section heading-section-white">
							<span class="subheading">Booking an Appointment</span>
							<h2 class="mb-4">Free Consultation</h2>
							<form action="#" class="appointment">
								<div class="row justify-content-center">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Your Name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Phone number">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="form-field">
												<div class="select-wrap">
													<div class="icon"><span class="fa fa-chevron-down"></span></div>
													<select name="" id="" class="form-control">
														<option value="">Select Services</option>
														<option value="">Spinal Manupulation</option>
														<option value="">Electrotherapy</option>
														<option value="">Manual Lymphatic</option>
														<option value="">Medical Acupuncture</option>
														<option value="">Therapeutic Exercise</option>
														<option value="">Joint Mobilization</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="form-field">
												<div class="select-wrap">
													<div class="icon"><span class="fa fa-chevron-down"></span></div>
													<select name="" id="" class="form-control">
														<option value="">Select Chiropractor</option>
														<option value="">John Doe</option>
														<option value="">William Smith</option>
														<option value="">Danny Green</option>
														<option value="">Jason Thompson</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="input-wrap">
												<div class="icon"><span class="fa fa-calendar"></span></div>
												<input type="text" class="form-control appointment_date" placeholder="Date">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="input-wrap">
												<div class="icon"><span class="fa fa-clock-o"></span></div>
												<input type="text" class="form-control appointment_time" placeholder="Time">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="submit" value="Send message" class="btn btn-secondary py-3 px-4">
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-4 bg-white text-center p-5">
							<div class="desc border-bottom pb-4">
								<h2>Business Hours</h2>
								<div class="opening-hours">
									<h4>Opening Days:</h4>
									<p class="pl-3">
										<span><strong>Monday – Friday:</strong> 5am to 22 pm</span>
										<span><strong>Saturday :</strong> 6am to 19 pm</span>
									</p>
									<h4>Vacations:</h4>
									<p class="pl-3">
										<span>All Sunday Days</span>
										<span>All Official Holidays</span>
									</p>
								</div>
							</div>
							<div class="desc pt-4 ">
								<h3 class="heading">For Emergency Cases</h3>
								<span class="phone">(+27) 41 392 3911</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container-fluid px-md-0">
			<div class="row no-gutters justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Team &amp; Staff</span>
					<h2>Our Experts </h2>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-md-4 col-lg ftco-animate d-flex">
					<div class="staff bg-primary">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(cimages/staff-1.jpg);"></div>
						</div>
						<div class="text pt-3 px-3 pb-4 text-center">
							<h3>Lloyd Wilson</h3>
							<span class="position mb-2">Psychiatrist</span>
							<div class="faded">
								<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg ftco-animate d-flex">
					<div class="staff bg-primary">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(cimages/staff-2.jpg);"></div>
						</div>
						<div class="text pt-3 px-3 pb-4 text-center">
							<h3>Rachel Parker</h3>
							<span class="position mb-2">Surgeon</span>
							<div class="faded">
								<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg ftco-animate d-flex">
					<div class="staff bg-primary">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(cimages/staff-3.jpg);"></div>
						</div>
						<div class="text pt-3 px-3 pb-4 text-center">
							<h3>Ian Smith</h3>
							<span class="position mb-2">Radiologist</span>
							<div class="faded">
								<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg ftco-animate d-flex">
					<div class="staff bg-primary">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(cimages/staff-4.jpg);"></div>
						</div>
						<div class="text pt-3 px-3 pb-4 text-center">
							<h3>Alicia Henderson</h3>
							<span class="position mb-2">Gastroenterologist</span>
							<div class="faded">
								<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg ftco-animate d-flex">
					<div class="staff bg-primary">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(cimages/staff-5.jpg);"></div>
						</div>
						<div class="text pt-3 px-3 pb-4 text-center">
							<h3>Isaac Antony</h3>
							<span class="position mb-2">Urologist</span>
							<div class="faded">
								<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 d-flex order-md-last">
					<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="background-image:url(cimages/about.jpg);">
						<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
							<span class="fa fa-play"></span>
						</a>
					</div>
				</div>
				<div class="col-md-6 pr-md-5 py-md-5">
					<div class="row justify-content-start py-5">
						<div class="col-md-12 heading-section ftco-animate">
							<span class="subheading">Welcome to E-Nompilo PHC</span>
							<h2 class="mb-4">About PHC</h2>
							<p>We take good care of our patients at E-Nompilo, we always make your health a priority and we provide hospitality beyond measures.</p>
						</div>
					</div>
					<div class="row ftco-counter pb-5" id="section-counter">
						<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
									<strong class="number" data-number="25">0</strong>
								</div>
								<div class="text">
									<span>Years of <br>Experienced</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
									<strong class="number" data-number="4970">0</strong>
								</div>
								<div class="text">
									<span>Happy <br>Customers</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
									<strong class="number" data-number="15">0</strong>
								</div>
								<div class="text">
									<span>Award <br>Winning</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-dark">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
					<span class="subheading">Testimonies</span>
					<h2>Happy Clients &amp; Feedbacks</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. At our PHC facility, we embrace the importance of preventive care and promote a holistic approach to wellness. We offer various wellness programs and educational resources to empower you in taking charge of your health.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(cimages/person_1.jpg)"></div>
										<div class="pl-3">
											<p class="name">Peter Alyn</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">I cannot say enough positive things about my experience at ENompilo Hospital. The staff is incredibly friendly, caring, and knowledgeable. They made me feel comfortable and listened to all my concerns. Thanks to their expert care, I have seen a significant improvement in my overall health. I highly recommend them!</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(cimages/person_2.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Data Analyst</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">Choosing Enompilo was the best decision I made for my family's health. The doctors there are top-notch, and they take a holistic approach to healthcare. They truly care about their patients' well-being and go above and beyond to ensure their needs are met. I couldn't be happier with the level of care we receive.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(cimages/person_3.jpg)"></div>
										<div class="pl-3">
											<p class="name">Trevor Grootbom</p>
											<span class="position">Lawyer</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">I have been a patient at Enompilo PHC Facility for a few years now, and I couldn't be happier with the care I receive. The doctors and nurses are compassionate, attentive, and always willing to answer any questions I have. They have helped me manage my chronic condition and improve my quality of life. Highly recommended!</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(cimages/person_dance.jpg)"></div>
										<div class="pl-3">
											<p class="name">Alisha White</p>
											<span class="position">Choreography</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">I cannot express my gratitude enough for E-Nompilo PHC. The whole team goes above and beyond to provide exceptional care. Their personalized approach and attention to detail are unmatched. They treat patients with kindness, respect, and make you feel like part of a family. Thanks to their expertise, I have seen remarkable improvements in my health. Trust me, you won't be disappointed!</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(cimages/person_beer.jpg)"></div>
										<div class="pl-3">
											<p class="name">Madison Beer</p>
											<span class="position">Singer</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer ftco-section ftco-no-pt">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6 col-lg">
					<div class="ftco-footer-widget py-4 py-md-5">
						<h2 class="logo"><a href="#">E-Nompilo Phc</a></h2>
						<p>Thank you for choosing our PHC facility. We value your trust and are honored to be part of your healthcare journey. Together, let's build a healthier future!</p>
					</div>
				</div>
				<div class="col-md-6 col-lg">
					<div class="ftco-footer-widget ml-md-5 py-5">
						<h2 class="ftco-heading-2">Services</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span></a></li>
							<li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Gynecological surgery</a></li>
							<li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Psychiatric evaluation and diagnosis</a></li>
							<li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Liver biopsy</a></li>
							<li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Prostate biopsy</a></li>
							<li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Male infertility treatment</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg">
					<div class="ftco-footer-widget py-4 py-md-5">
						<h2 class="ftco-heading-2">Contact information</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon fa fa-map-marker"></span><span class="text">349 Cape Rd, Port Elizabeth, 6055</span></li>
								<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+27 41 392 3911</span></a></li>
								<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">E-NompiloPHC@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg">
					<div class="ftco-footer-widget bg-primary p-4 py-5">
						<h2 class="ftco-heading-2">Business Hours</h2>
						<div class="opening-hours">
							<h4>Opening Days:</h4>
							<p class="pl-3">
								<span>Monday – Friday : 5am to 22 pm</span>
								<span>Saturday : 6am to 19 pm</span>
							</p>
							<h4>Vacations:</h4>
							<p class="pl-3">
								<span>All Sunday Days</span>
								<span>All Official Holidays</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


	<script src="~/cjs/jquery.min.js"></script>
	<script src="~/cjs/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/cjs/popper.min.js"></script>
	<script src="~/cjs/bootstrap.min.js"></script>
	<script src="~/cjs/jquery.easing.1.3.js"></script>
	<script src="~/cjs/jquery.waypoints.min.js"></script>
	<script src="~/cjs/jquery.stellar.min.js"></script>
	<script src="~/cjs/jquery.animateNumber.min.js"></script>
	<script src="~/cjs/bootstrap-datepicker.js"></script>
	<script src="~/cjs/jquery.timepicker.min.js"></script>
	<script src="~/cjs/owl.carousel.min.js"></script>
	<script src="~/cjs/jquery.magnific-popup.min.js"></script>
	<script src="~/cjs/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/cjs/google-map.js"></script>
	<script src="~/cjs/main.js"></script>

</body>
</html>