@model E_NompiloPHC.ViewModels.PatientReportViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HospitalInformationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Diagnose" class="control-label"></label>
                <input asp-for="Diagnose" class="form-control" />
                <span asp-validation-for="Diagnose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient" class="control-label"></label>
                <input asp-for="Patient" class="form-control" />
                <span asp-validation-for="Patient" class="text-danger"></span>
            </div>
	<div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescribedMedicine" class="control-label"></label>
                <input asp-for="PrescribedMedicine" class="form-control" />
                <span asp-validation-for="PrescribedMedicine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

