@model E_NompiloPHC.ViewModels.BillViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HospitalInformationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BillNumber" class="control-label"></label>
                <input asp-for="BillNumber" class="form-control" />
                <span asp-validation-for="BillNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient" class="control-label"></label>
                <input asp-for="Patient" class="form-control" />
                <span asp-validation-for="Patient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance" class="control-label"></label>
                <input asp-for="Insurance" class="form-control" />
                <span asp-validation-for="Insurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorCharge" class="control-label"></label>
                <input asp-for="DoctorCharge" class="form-control" />
                <span asp-validation-for="DoctorCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineCharge" class="control-label"></label>
                <input asp-for="MedicineCharge" class="form-control" />
                <span asp-validation-for="MedicineCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomCharge" class="control-label"></label>
                <input asp-for="RoomCharge" class="form-control" />
                <span asp-validation-for="RoomCharge" class="text-danger"></span>
            </div>
<div class="form-group">
                <label asp-for="SessionCharge" class="control-label"></label>
                <input asp-for="SessionCharge" class="form-control" />
                <span asp-validation-for="SessionCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfDays" class="control-label"></label>
                <input asp-for="NoOfDays" class="form-control" />
                <span asp-validation-for="NoOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NursingCharge" class="control-label"></label>
                <input asp-for="NursingCharge" class="form-control" />
                <span asp-validation-for="NursingCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabCharge" class="control-label"></label>
                <input asp-for="LabCharge" class="form-control" />
                <span asp-validation-for="LabCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advance" class="control-label"></label>
                <input asp-for="Advance" class="form-control" />
                <span asp-validation-for="Advance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBill" class="control-label"></label>
                <input asp-for="TotalBill" class="form-control" />
                <span asp-validation-for="TotalBill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

